RAG_pipeline.json
{
  "name": "BG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 10
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_4472617499994901049"
          ]
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -20,
        460
      ],
      "id": "840bd20f-b1fb-4fab-9ded-4618c472c385",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "cXjq06p0r8Rwdeaa",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        220,
        460
      ],
      "id": "4038d8cf-cc36-4845-97d7-15ddfc9ee0fb",
      "name": "Extract from File",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Проанализируй: {{$json.text}}.\nВопрос: соответствует ли банковская гарантия требованиям 44-ФЗ? \nИспользуй предоставленный текст гарантии, а базу знаний — только как справку. Не нужно анализировать 44-ФЗ как основной текст.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.4,
      "position": [
        500,
        440
      ],
      "id": "2bfc2e2d-3eb7-47ce-a833-5e0d0955f92f",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        660,
        620
      ],
      "id": "3be0672d-cf98-4b16-840e-3d6cfb86afd1",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "pinecone",
          "mode": "list",
          "cachedResultName": "pinecone"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        700,
        800
      ],
      "id": "75dd8538-ca6b-4d6c-81d3-3a5920f1be4e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "DZ5d3pQ1rtdUoo8u",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        700,
        960
      ],
      "id": "9752e298-f8c8-45d5-93a9-5b247a926765",
      "name": "Embeddings HuggingFace Inference1",
      "credentials": {
        "huggingFaceApi": {
          "id": "XknlDPlMWhv7jKlo",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        460,
        640
      ],
      "id": "d1c5c045-5327-4ee9-b25d-8699d7a51c6e",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "4ELwMNmREmcEqEr7",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Load data into database\nFetch file from Google Drive, split it into chunks and insert into Pinecone index",
        "height": 627,
        "width": 918,
        "color": 7
      },
      "id": "b6a946da-dfc6-42c9-9074-c6df9a403033",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        -300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinecone",
          "mode": "list",
          "cachedResultName": "pinecone"
        },
        "options": {
          "clearNamespace": true
        }
      },
      "id": "6fbda90f-0edf-4d65-98cf-a35e084cf6b4",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        620,
        -200
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "DZ5d3pQ1rtdUoo8u",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "7bc028ec-47c9-41d4-a388-2136d7477614",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        720,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "23f1343f-ffc6-4e46-a93d-daa10aa556c9",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        800,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_url }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        -200
      ],
      "id": "b0195685-de8c-49f8-b2b3-b5ec1837fa44",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hmyC5if8wRTAosVs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "id": "0cf3d427-66fb-41fc-9f7a-f9f0b859d86b",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "XknlDPlMWhv7jKlo",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "cdde3471-0509-437f-bb24-8f55994bafb3",
      "name": "When clicking 'Test Workflow' button",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -400,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d08ef1f5-932b-4bbb-bb02-0cbdff26a636",
              "name": "file_url",
              "type": "string",
              "value": "https://drive.google.com/file/d/1JA7QsU0vwe9VDBfbr3SEVoCAfEPotGtO/view?usp=drive_link"
            }
          ]
        },
        "options": {}
      },
      "id": "4c9acbd8-9cc6-4deb-a5d6-aca426a6923e",
      "name": "Set Google Drive file URL",
      "type": "n8n-nodes-base.set",
      "position": [
        -100,
        -220
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test Workflow' button": {
      "main": [
        [
          {
            "node": "Set Google Drive file URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Google Drive file URL": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c173c442-cc3b-4584-b72f-8cd97d688001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd5d882c68c004237e134ddac7d439ffb7b812221c46f11e4cb8a00ff2f6f4fd"
  },
  "id": "as1psYxXCGkawpYF",
  "tags": []
}